* {
    margin: 0;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #4089BC;
}

h1 {
    color: #ffffff;
    letter-spacing: .02rem;

}

ul {
    list-style-type: none;
    display: contents;
}

header {
    background-color: #226692;
    padding: 1em;
    border-bottom: .1rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-wrapper {
    display: flex;
    flex-direction: row;
}

#weather-search {
    margin-bottom: 1rem;
}

input, textarea {
    width: 100%;
    border: solid 1px #999;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 1rem;
}

.btn {
    width: 250px;
    padding: .2rem;
    background-color: #fca311;
    border: 2px solid #e5e5e5;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.cityCard {
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem;
}

#weatherCard img {
    width: 80px;
}