* {
    margin: 0;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #e7ecef;
}

h1 {
    color: #ffffff;
    letter-spacing: .02rem;

}

ul {
    list-style-type: none;
    display: contents;
}

header {
    background-color: #226692;
    padding: 1em;
    border-bottom: .1rem solid;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-section {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results-wrapper {
    display: flex;
    flex-direction: row;
}

#weather-search {
    margin-bottom: 1rem;
}

input, textarea {
    width: 100%;
    border: solid 1px #999;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 1rem;
}

.btn {
    width: 250px;
    padding: .45rem;
    background-color: #f5cb5c;
    border: 2px solid #e5e5e5;
    border-radius: 12px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#randomCityBtn{
    background-color: #ff7247;
}

.cityCard {
    width: 200px;
    background-color: #bcbdb957;
    border: 2px solid black;
    border-radius: 12px;
    padding: 1.3rem;
    margin: 1rem;
    font-size: 18px;
    text-align: center;
    animation: fadein 2s;
}

.city-temp{
    font-size: 1.5rem;
}

.high-low {
    display: flex;
    justify-content: center;
    padding-top: .3rem;
    gap: .15rem;
}

#weatherCard img {
    width: 80px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@media only screen and (max-width: 768px) {
    .results-wrapper {
        flex-direction: column;
    }

    .cityCard {
        width: 250px;
    }

    .result-header {
        align-items: center;
        max-width: 60%;
    }
  }